.DOCTITLE   "{{.Title}}"
.PRINTSTYLE "{{.PrintStyle}}"
.TITLE      DOC_COVER "\*[$DOCTITLE]"
.AUTHOR     "{{.Author}}"
.COPYRIGHT  DOC_COVER "{{.Year}} \*[$AUTHOR]"
.DOC_COVER  TITLE AUTHOR COPYRIGHT

.DOCTYPE CHAPTER
.TITLE   "\*[$DOCTITLE]"


